body {
	font-family: arial;
	color: rgb(104,104,104);
}

.resetpassword table{
	border-spacing: 0;
}

.resetpassword .title{
	padding: 10px;
	background-color: rgb(243,243,243);
	color: rgb(108,111,118);
}

.resetpassword .description{
	text-align: left;
	padding-left: 10px;
}

.resetpassword div[name='logo']{
	text-align: left;
	height: 50px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

img#branchitupLogo{
	border: 0;
}

.resetpassword table[name='layoutTable']{
	border: 6px solid  rgb(233,233,233);
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

.resetpassword td[name='submitCell']{
	text-align: right;
	padding-right: 10px;
}

.dijitInputContainer {
	margin-top: 5px;
    /* float: none !important;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: bottom; */
}

.dijitTextBox input {
    float: left;
    background-color: transparent !important;
    border: 0 none !important;
    height: 44px !important;
    margin-left: 8px !important;
    margin-right: 0 !important;
    /* padding-left: 8px !important; */
    /* padding-right: 0 !important; */
    vertical-align: middle !important;
    /* width: 290px !important; */
}

.dijitPlaceHolder {
    color: #AAAAAA;
    font-style: italic;
    left: 10px;
    position: absolute;
    top: 10px;
}
.tundra .dijitTextBox {
    background: url(../images/empty-form-box_350x48.png);
    background-repeat: no-repeat;
    border: 1px solid white;
    width: 350px;
  	height: 48px;
}

.tundra input.dijitValidationIcon {
    /* background: url("images/warning.png") no-repeat scroll center center transparent; */
    background: url("");
    /* width: 0; */
}

.enabledButton{
	cursor: pointer;
	/* border: 1px solid white; */
}

/* .enabledButton:hover{
	border: 1px solid orange;
} */

.disabledButtonImg{
	cursor: default;
	/* border: 1px solid white; */
}

#resetpassword\.messagesCell{
	text-align: left;
}
